<div class="bs-component">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="modal-title wv-modal-title">
                    <span>History</span>
                </h4>
                <div class="modal-body" id="chartContainer">
                    <nvd3-line-chart 
                         data="chartData" 
                         width="900" 
                         height="350" 
                         showXAxis="true" 
                         showYAxis="true" 
                         xAxisTickFormat="xAxisFormatFunction()" 
                         yAxisTickFormat="yAxisFormatFunction()" class="wv-chart"></nvd3-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>