<div class="bs-component">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <h4 class="modal-title wv-modal-title"><span>History</span></h4>
        <div class="modal-body" ng-controller="LineChartCtrl">
            <div 
              data-ac-chart="'line'" 
              data-ac-data="data" 
              data-ac-config="config" 
              class="wv-chart"
              style="width: 900px; height: 300px">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>