<div class="bs-component">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <h4 class="modal-title wv-modal-title">
                    <span>Hello {{jobcoinInputAddress}}</span>
                </h4>

                <div class="modal-body wv-modal-body">
                    <div class="form-group">
                        <label class="control-label"></label>

                        <p class="col-md-8">

                            <span>I would like to send</span>

                            <span ng-click="togglejobcoinUI('amount')" ng-hide="jobcoinInputAmountUI" class="wv-toggle-link" id="jobcoinInputAmountText">
                                {{jobcoinInputAmount}}</span>

                            <input type="number" ng-show="jobcoinInputAmountUI" ng-focus="jobcoinInputAmountUI" ng-blur="togglejobcoinUI('amount')" ng-model="jobcoinInputAmount" class="form-control wv-input-inline wv-coin-output" name="jobcoinInputAmount" min="0" required id="jobcoinInputAmount" />

                            <span>Jobcoins to</span>

                            <span ng-click="togglejobcoinUI('address')" ng-hide="jobcoinOutputAddressUI" class="wv-toggle-link" id="jobcoinOutputAddressText">
                                {{jobcoinOutputAddress}}</span>

                            <input type="text" ng-show="jobcoinOutputAddressUI" ng-focus="jobcoinOutputAddressUI" ng-blur="togglejobcoinUI('address')" ng-model="jobcoinOutputAddress" class="form-control wv-input-inline wv-address-output" name="jobcoinOutputAddress" required id="jobcoinOutputAddress" />

                            <!-- CSS HACKERY FOR HEIGHT -->
                            <input type="text" class="form-control wv-input-inline wv-address-output" style="width: 1px; opacity: 0;" />
                            <!-- END ___ CSS HACKERY FOR HEIGHT -->
                        </p>

                        <button type="button" class="btn btn-primary pull-right wv-input-15" ng-click="sendCoins(jobcoinInputAmount, jobcoinInputAddress, jobcoinOutputAddress)">Send</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>