<div class="bs-component">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="modal-title wv-modal-title">
                    <span>Welcome</span>
                </h4>
                <div class="modal-body">
                    <p>Enter your Jobcoin address:</p>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input type="text" class="form-control pull-left wv-input-80" id="jobcoinInputAddress" ng-model="jobcoinInputAddress">
                        <button type="button" class="btn btn-primary pull-right wv-input-15" ng-click="signIn(jobcoinInputAddress)">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>